.Note {
  position: absolute;
}

.Note .content {
  width: 140px;
  display: flex;
  padding: 10px;
  font-size: 14px;
  height: 160px;
  background-color: #FFF;
  border: 1px solid #ececec;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: all .5s;
  user-select: none;
}

.Note p {
  padding: 0px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.8);
}

.Note textarea {
  padding: 0px;
  margin: 0px;
  display: flex;
  color: rgba(0, 0, 0, 0.8);
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}

.Note .select {
  padding: 5px;
  background: rgba(0, 0, 0, 0.0);
  border-radius: 5px;
}

.Note .select.selected {
  background: rgba(0, 0, 0, .05);
}
