.ColorPicker {
  height: 230px;
  width: 230px;
  overflow: auto;
  background-color: white;
  position: absolute;
  top: 40px;
  right: 5px;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9,45,66,.25), 0 0 0 1px rgba(9,45,66,.08);
}

.ColorPicker Header {
  color: #6b808c;
  padding: 5px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.ColorPicker .color-item {
  cursor: pointer;
  height: 21px;
  width: 21px;
  border-radius: 50px;
  border: solid 2px rgba(0 , 0, 0, .05);
  margin: 3px;
}

.ColorPicker .color-item:hover {
  border: solid 2px rgba(0 , 0, 0, .2);
}

.ColorPicker .content {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
