.ColorPicker {
  height: 300px;
  width: 300px;
  overflow: auto;
  background-color: white;
  position: absolute;
  top: 40px;
  right: 5px;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9,45,66,.25), 0 0 0 1px rgba(9,45,66,.08);
}

.ColorPicker Header {
  color: #6b808c;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.ColorPicker .color-item {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  margin: 3px;
}

.ColorPicker .content {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
